# Python
__pycache__/
*.pyc
venv/
.env
.pytest_cache/

# Node/Frontend
node_modules/
dist/
.DS_Store

# Docker
docker-compose.override.yml

# Uploads
services/auth-service/app/uploads/*
!service/auth-service/app/uploads/.gitkeep
uploads/

# Logs
*.log
heavy_attack.log
